@page "/"

<div class="container text-center">
    <h1><span class="oi oi-dashboard" aria-hidden="true"/> Server Manager</h1>
    <p>A tool to help manage Windows machines.</p>
    <a href="https://github.com/alberto-guerrero/ServerManagement" target="_blank">GitHub Repo</a>
</div>
